* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dimgray;
  height: 1200px;
}

.container {
  display: flex;
  justify-content: center;
}

.example {
  display: flex;
  justify-content: space-around;

  width: 800px;
  margin: 50px 0;
  background-color: crimson;
}

.item {
  background-color: aqua;
  display: block;
}

.p1 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}